<div class="container">
		<div class="current-balance">
			<span class="current-balance-text">R$ 150,00</span>
			<div class="variation">
				<div class="arrow-holder">
					<span class="material-icons">arrow_drop_up</span>
				</div>
				<p class="percent">
					45%
				</p>
			</div>
		</div>
	<div class="row">
		<p class="text">Banca inicial: <span>R$ 50,00</span></p>
	</div>
	<div class="row">
		<p class="text">Lucro total: <span>R$ 100,00</span></p>
	</div>
	<div class="row">
		<p class="text">Valor da unidade: <span>R$ 2,00</span></p>
	</div>
	<div class="row">
		<p class="text">Saldo de unidades: <span class="green">+ 7,05</span></p>
	</div>
</div>

